<footer>
  <div class="footer-containt">
    <p>© 2025 pokeHub | Made with ❤️ by Deep </p>
    <p>This is a fan-made project and is not affiliated with the official Pokémon brand.</p>
  </div>   


</footer>

<script src="/js/nav.js"> </script>
  
</body>
