<%- include("partials/header.ejs") %>

 <div class="home-content">
    <div class="home-left-img">
        <img src="images/homepoki.png" alt="">
    </div>
    <div class="home-right-text">
        <h1>Who's that Pokémon?</h1>
        <p>Dive into the world of Pokémon and explore their unique stats, types, and abilities!</p>
      <button><a href="/explore">Explore the Pokédex</a></button>
    </div>
 
 </div>
 <%- include("partials/footer.ejs") %>
 
</html>